<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:flashMessages />

    <f:if condition="{isManualBackup} == '1'">
        <a href="{download_url}" target="_blank" class="btn btn-success btn-backupnow"><em class="fa fa-download" aria-hidden="true"></em><f:translate key="download.backup.now" /></a>
        <p>&nbsp;</p>
        <div class="alert alert-secondary">
            <p><strong><f:translate key="logs" />:</strong></p>
            <f:format.html><p>{log}</p></f:format.html>
        </div>
    </f:if>

    <div class="ns-backup-table-block-wrap">
		<div class="card">
			<div class="card-header">
				<div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                    <h5><f:translate key="menu.backupsrestore" /></h5>
                    <a href="javascript:;" class="btn btn-warning text-white" data-toggle="modal"
						data-target="#backupNowModal"><em class="fa fa-cloud-download" aria-hidden="true"></em><f:translate key="start.one.click.backup" /></a>
				</div>
			</div>
			<div class="card-body">
				<div class="ns-backup-table-wrap">
					<table class="table ns-backup-datatable" id="myexample">
						<thead class="thead-light">
							<tr>
								<th scope="col">
									<div class="form-check ns-backup-select-all">
										<input class="form-check-input" type="checkbox" value="" id="typo3ext">
										<label class="form-check-label" for="typo3ext"></label>
									</div>
								</th>
								<th scope="col"><f:translate key="servercloud.content.name" /></th>
								<th scope="col"><f:translate key="backup.date" /></th>
								<th scope="col"><f:translate key="backup.type" /></th>
								<th scope="col"><f:translate key="server.cloud" /></th>
								<th scope="col"><f:translate key="size_mb" /></th>
								<th scope="col"><f:translate key="servercloud.content.actions" /></th>
							</tr>
						</thead>
						<tbody>
                            <f:for each="{arrBackupData}" as="backup" iteration="i">
							<tr>
								<td>
									<div class="ns-backup-checkmark-wrap">
										<div class="form-check ">
											<input class="form-check-input checkSingle" type="checkbox" value="{backup.uid}">
												<label class="form-check-label" for=""></label>
											<label class="form-check-label" for=""></label>
										</div>
									</div>
								</td>
                                <td>{backup.title}</td>
                                <td><f:format.date format="d-m-Y H:i">{backup.start_datetime}</f:format.date></td>
								<td>
                                    <f:for each="{backuptype}" as="whichbackup" iteration="i">
                                        <f:if condition="{whichbackup.value} == {backup.backup_type}">
                                            {whichbackup.key}
                                        </f:if>
                                    </f:for>
                                </td>
								<td>
                                    <f:for each="{serverData}" as="whichserver" iteration="i">
                                        <f:if condition="{whichserver.uid} == {backup.server_uid}">
                                            {whichserver.title}
                                        </f:if>
                                    </f:for>
                                </td>
								<td>{backup.size}</td>
								<td>
									<div class="button-group ns-backup-actions-wrap">
										<a target="_blank" href="{backup.download_url}" class="btn btn-primary"><em class="fa fa-cloud-download" aria-hidden="true"></em><f:translate key="download.backup" /></a>
										<!-- <a href="javascript:;" class="btn btn-danger" data-toggle="modal"
											data-target="#nsBackupDeleteRecordModal"><em class="fa fa-trash-o" aria-hidden="true"></em>Delete</a> -->
										<a href="javascript:;" class="btn btn-success btn-log-show" data-toggle="modal"
                                            data-target="#logBackup" data-id="{backup.uid}"><em class="fa fa-file-text-o" aria-hidden="true"></em>Logs</a>
                                        <a href="javascript:;" class="btn btn-danger delete-backup" data-toggle="modal"
                                            data-target="#nsBackupDeletebackupModal" data-title="{backup.title}" data-msg="<f:translate key='servercloud.content.deleterecord' />" data-id="{backup.uid}">
                                            <em class="fa fa-trash-o" aria-hidden="true"></em><f:translate key="servercloud.content.delete" />
                                        </a>
                                    </div>
                                    <div style="display: none;" id="logDiv_{backup.uid}">
                                        <f:format.html>{backup.logs}</f:format.html>
                                    </div>
								</td>
                            </tr>
                            </f:for>
						</tbody>
					</table>
                    <!-- <a href="javasctipt:;" class="btn btn-danger btn-delete-record"><em class="fa fa-trash-o" aria-hidden="true"></em>Delete Selected Backups</a> -->
				</div>
			</div>
		</div>
    </div>
</f:section>

</html>
