<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:flashMessages />
    <f:if condition="{isManualBackup} == '1'">
        <a href="{download_url}" target="_blank" class="btn btn-success btn-backupnow"><em class="fa fa-download" aria-hidden="true"></em><f:translate key="download.backup.now" extensionName = "NsBackup" /></a>
        <p>&nbsp;</p>
        <div class="alert alert-secondary">
            <p><strong><f:translate key="logs" extensionName = "NsBackup" />:</strong></p>
            <f:format.raw><p>{log}</p></f:format.raw>
        </div>
    </f:if>

    <div class="ns-backup-table-block-wrap">
		<div class="card">
			<div class="card-header">
				<div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                    <h5><f:translate key="menu.backupsrestore" extensionName = "NsBackup" /></h5>
                    <a href="javascript:;" class="btn btn-secondary text-white" {modalAttr}toggle="modal"
						{modalAttr}target="#backupNowModal"><em class="fa fa-cloud-download" aria-hidden="true"></em><f:translate key="start.one.click.backup" extensionName = "NsBackup" /></a>
				</div>
			</div>
			<div class="card-body">
				<div class="ns-backup-table-wrap">
					<table class="table ns-backup-datatable table-striped table-hover" id="myexample">
						<thead class="thead-light">
							<tr>
								<th scope="col"><f:translate key="servercloud.content.name" extensionName = "NsBackup" /></th>
								<th scope="col"><f:translate key="backup.date" extensionName = "NsBackup" /></th>
								<th scope="col"><f:translate key="backup.type" extensionName = "NsBackup" /></th>
								<th scope="col"><f:translate key="size_mb" extensionName = "NsBackup" /></th>
								<th scope="col"><f:translate key="servercloud.content.actions" extensionName = "NsBackup" /></th>
							</tr>
						</thead>
						<tbody>
                            <f:for each="{arrBackupData}" as="backup" iteration="i">
							<tr>
                                <td>{backup.title}</td>
                                <td><f:format.date format="d-m-Y H:i">{backup.start_datetime}</f:format.date></td>
								<td>
                                    <f:for each="{backuptype}" as="whichbackup" iteration="i">
                                        <f:if condition="{whichbackup.value} == {backup.backup_type}">
                                            {whichbackup.key}
                                        </f:if>
                                    </f:for>
                                </td>
								<td>{backup.size}</td>
								<td>
									<div class="button-group ns-backup-actions-wrap">
										<f:if condition="{backup.isDownload}">
											<f:then>
												<a target="_blank" href="{backup.download_url}" class="btn btn-primary"><em class="fa fa-cloud-download" aria-hidden="true"></em><f:translate key="download.backup" extensionName = "NsBackup" /></a>
											</f:then>
											<f:else>
												<a href="javascript:;" class="btn btn-primary btn-sm" {modalAttr}toggle="modal"
												   {modalAttr}target="#downloadBackup"><em class="fa fa-cloud-download" aria-hidden="true"></em><f:translate key="download.backup" extensionName = "NsBackup" /></a>
											</f:else>
										</f:if>
										<a href="javascript:;" class="btn btn-success btn-sm btn-log-show" {modalAttr}toggle="modal"
                                            {modalAttr}target="#logBackup" data-id="{backup.uid}"><em class="fa fa-file-text-o" aria-hidden="true"></em>Logs</a>
                                        <a href="javascript:;" class="btn btn-danger btn-sm delete-backup" {modalAttr}toggle="modal"
                                            {modalAttr}target="#nsBackupDeletebackupModal" data-title="{backup.title}" data-msg="<f:translate key='servercloud.content.deleterecord' extensionName = 'NsBackup' />" data-id="{backup.uid}">
                                            <em class="fa fa-trash-o" aria-hidden="true"></em><f:translate key="servercloud.content.delete" extensionName = "NsBackup" />
                                        </a>
                                    </div>
                                    <div style="display: none;" id="logDiv_{backup.uid}">
                                        <f:format.raw>{backup.logs}</f:format.raw>
                                    </div>
								</td>
                            </tr>
                            </f:for>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
</f:section>

</html>
