<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:flashMessages />
	<div class="ns-backup-premium-extension-blocks">
		<div class="card">
			<div class="card-header">
				<h4>Premium Extension</h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-6">
						<div class="jumbotron">
							<h1>Hello!</h1>
							<p class="lead">Do you like our FREE version of this NS Backup extension?<br><br> And, Interested to buy PREMIUM version?</p>
                            <a class="btn btn-lg btn-secondary" href="https://t3terminal.com/ns-backup-typo3-extension" target="_blank" role="button"><em class="fa fa-question" aria-hidden="true"></em>Compare Free vs Premium!</a>
                            &nbsp;
                            <a class="btn btn-lg btn-primary" href="https://t3terminal.com/ns-backup-typo3-extension" target="_blank" role="button"><em class="fa fa-shopping-cart" aria-hidden="true"></em>Buy Now!</a>
						</div>
						<div class="alert alert-success" role="alert">
							<h4 class="alert-heading">Do you have any questions?</h4>
							<p>Please feel to report any issues or any question related to premium extension at <a href="https://t3terminal.com/support-submit-ticket" target="_blank">T3Terminal Support</a></p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card-deck">
							<div class="card">
								<img height="245" src="/typo3conf/ext/ns_backup/Resources/Public/Images/schedule.png"
									alt="card img" class="card-img-top">
								<div class="card-body" style="background: #e9ecef;">
									<h5 class="card-title">Schedule Your Backups</h5>
									<p class="card-text">You can easily schedule your backups with few clicks, Extension take care to regularly take backup.
									</p>
									<a href="https://t3terminal.com/ns-backup-typo3-extension" target="_blank" class="card-link">Read More</a>
								</div>
							</div>
                            <div class="card">
								<img height="245" src="/typo3conf/ext/ns_backup/Resources/Public/Images/cloud.png"
									alt="card img" class="card-img-top">
                                <div class="card-body" style="background: #e9ecef;">
									<h5 class="card-title">Connect To Your Server/Clouds</h5>
									<p class="card-text">Get backup to your Google cloud/drive, Amazon S3 cloud, Dropbox cloud, Rsync server, SFTP server.
									</p>
									<a href="https://t3terminal.com/ns-backup-typo3-extension" target="_blank" class="card-link">Read More</a>
								</div>
							</div>
							<div class="card">
								<img height="245" src="/typo3conf/ext/ns_backup/Resources/Public/Images/log.png"
									alt="card img" class="card-img-top">
                                <div class="card-body" style="background: #e9ecef;">
									<h5 class="card-title">Backup Logs & History</h5>
									<p class="card-text">Track your each scheduled and manual backup with Backup history and detailed system-log.
									</p>
									<a href="https://t3terminal.com/ns-backup-typo3-extension" target="_blank" class="card-link">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</f:section>

</html>
