<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="emails"><f:translate key="globalsettings.form.emails" /></label>
		</div>
		<div class="col-md-6">
			<f:form.textfield name="emails" type="email" property="emails" class="form-control" id="emails"/>
            <p class="form-control-field"><f:translate key="globalsettings.form.emails.desc" /></p>
            <p class="email-error error" style="display: none;"><f:translate key="globalsettings.form.email-error" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="emailSubject"><f:translate key="globalsettings.form.email_subject" /></label>
		</div>
		<div class="col-md-6">
			<f:form.textfield name="emailSubject" type="text" property="emailSubject" class="form-control" id="emailSubject"/>
            <p class="form-control-field"><f:translate key="globalsettings.form.email_subject.desc" /></p>
            <p class="emailSubject-error error" style="display: none;"><f:translate key="servercloud.nodata" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label><f:translate key="globalsettings.form.notification" /></label>
		</div>
		<div class="col-md-6">
			<div class="form-check">
				<f:form.checkbox  name="emailNotificationOnError" property="emailNotificationOnError" value="1" class="form-check-input check" checked="{f:if(condition: '{backupglobal.emailNotificationOnError}==1', then: 'checked')}" id="emailNotificationOnError" />
				<label class="form-check-label" for="emailNotificationOnError">
					<f:translate key="globalsettings.form.emailNotificationOnError" />
				</label>
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="compress"><f:translate key="globalsettings.form.compress" /></label>
		</div>
		<div class="col-md-6">
            <f:form.select name="compress" options="{compress}" id="compress" class="form-control" property="compress" optionValueField="value" optionLabelField="key" />
            <p class="form-control-field"><f:translate key="globalsettings.form.compress.desc" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="cleanup"><f:translate key="globalsettings.form.cleanup" /></label>
		</div>
		<div class="col-md-6">
            <f:form.select name="cleanup" options="{cleanup}" id="cleanup" class="form-control" property="cleanup" optionValueField="value" optionLabelField="key" />
            <p class="form-control-field"><f:translate key="globalsettings.form.cleanup.desc" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="cleanupQuantity"><f:translate key="globalsettings.form.cleanup_quantity" /></label>
		</div>
		<div class="col-md-6">
            <f:form.textfield name="cleanupQuantity" type="input" property="cleanupQuantity" class="form-control" id="cleanupQuantity"/>
            <p class="form-control-field"><f:translate key="globalsettings.form.cleanup_quantity.desc" /></p>
            <p class="cleanupQuantity-error error" style="display: none;"><f:translate key="servercloud.nodata" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="php"><f:translate key="globalsettings.form.php" /></label>
		</div>
		<div class="col-md-6">
            <f:form.textfield name="php" type="input" property="php" class="form-control" id="php"/>
            <p class="form-control-field"><f:translate key="globalsettings.form.php.desc" /></p>
            <p class="php-error error" style="display: none;"><f:translate key="servercloud.nodata" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="root"><f:translate key="globalsettings.form.root" /></label>
		</div>
		<div class="col-md-6">
            <f:form.textfield name="root" type="input" property="root" class="form-control" id="root"/>
            <p class="form-control-field"><f:translate key="globalsettings.form.root.desc" /></p>
            <p class="root-error error" style="display: none;"><f:translate key="servercloud.nodata" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-3">
			<label for="siteurl"><f:translate key="globalsettings.form.siteurl" /></label>
		</div>
		<div class="col-md-6">
            <f:form.textfield name="siteurl" type="input" property="siteurl" class="form-control" id="siteurl"/>
            <p class="form-control-field"><f:translate key="globalsettings.form.siteurl.desc" /></p>
            <p class="siteurl-error error" style="display: none;"><f:translate key="servercloud.nodata" /></p>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<button type="submit" class="btn btn-primary btn-global-submit"><em class="fa fa-save"
				aria-hidden="true"></em><f:translate key="globalsettings.form.savesettings" /></button>
		</div>
	</div>
</div>
